<div class="card">
  <div class="card-header">
    <%= @community.name %>
  </div>
  <div class="card-body">
    <%= simple_format @community.rules %>
 
    <%= render "communities/subscribe", community_id: @community.id %>
  </div>
  <div class="card-footer">
    จำนวนสมาชิกในห้องมีทั้งหมด <%= @subscribers_count %> คน
  </div>
</div>
<div class="mt-3 mb-3">
  <%= link_to "ตั้งกระทู้ใหม่", new_community_post_path(@community), class: "btn btn-info" %>
</div>
<% @posts.each do |post|%>
  <div class="card mb-3">
    <div class="card-header">
      <%= link_to post.title, community_post_path(@community, post) %>
    </div>
    <div class="card-body">
      <%= truncate post.body, length: 200 %>
    </div>
  </div>
<% end %>
